In [1]:
import pandas as pd
import numpy as np
import openpyxl

### Read Excel data

In [2]:
voter_data = pd.read_excel('Copy of Data Analyst at RI SOS Interview Assignment_Haixia Liu.xlsx',
                           sheet_name = 'Data - Voter List', engine='openpyxl')

In [3]:
voter_his = pd.read_excel('Copy of Data Analyst at RI SOS Interview Assignment_Haixia Liu.xlsx',
                          sheet_name = 'Data - Voter History', engine='openpyxl')

In [4]:
voter_data.head()

,VOTERID,STATUSCODE,CITY,PARTYCODE,DATEEFFECTIVE,YEAROFBIRTH,CONGRESSIONALDISTRICT,PRECINCT
0,1000456841,ACTIVE,BARRINGTON,DEMOCRAT,10/21/2004,1969,1,102
1,1000456844,ACTIVE,BARRINGTON,UNAFFILIATED,4/13/1952,1927,1,101
2,1000456854,ACTIVE,BARRINGTON,REPUBLICAN,11/1/2004,1985,1,101
3,1000456869,ACTIVE,EAST PROVIDENCE,UNAFFILIATED,3/23/2012,1948,1,1011
4,1000456876,ACTIVE,JOHNSON,DEMOCRAT,4/1/2016,1957,2,1613

In [5]:
voter_his.head()

,VOTERID,ELECTION1,TYPE1,ELECTION2,TYPE2,ELECTION3,TYPE3,ELECTION4,TYPE4
0,1000456828,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None
1,1000456848,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None
2,1000456851,NaN,NaN,STATEWIDE GENERAL ELECTION,Early In-Person,None,None,None,None
3,1000456854,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None
4,1000456858,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None

### Merge two tables based on 'VOTERID', use 'inner' join, which selects records in both tables.

In [6]:
merg = pd.merge(voter_data,voter_his,how='inner',on='VOTERID')

In [7]:
merg.head()

,VOTERID,STATUSCODE,CITY,PARTYCODE,DATEEFFECTIVE,YEAROFBIRTH,CONGRESSIONALDISTRICT,PRECINCT,ELECTION1,TYPE1,ELECTION2,TYPE2,ELECTION3,TYPE3,ELECTION4,TYPE4
0,1000456854,ACTIVE,BARRINGTON,REPUBLICAN,11/1/2004,1985,1,101,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None
1,1000457136,ACTIVE,WARWICK,DEMOCRAT,12/24/2007,1982,2,3513,None,None,None,None,None,None,None,None
2,1000457143,ACTIVE,BARRINGTON,UNAFFILIATED,9/10/1990,1952,1,104,NaN,NaN,STATEWIDE GENERAL ELECTION,Early In-Person,None,None,None,None
3,1000457256,INACTIVE,PROVIDENCE,DEMOCRAT,10/23/2019,1977,1,2809,None,None,None,None,None,None,None,None
4,1000457353,ACTIVE,BARRINGTON,UNAFFILIATED,8/14/1992,1957,1,104,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None

In [8]:
merg.head()

,VOTERID,STATUSCODE,CITY,PARTYCODE,DATEEFFECTIVE,YEAROFBIRTH,CONGRESSIONALDISTRICT,PRECINCT,ELECTION1,TYPE1,ELECTION2,TYPE2,ELECTION3,TYPE3,ELECTION4,TYPE4
0,1000456854,ACTIVE,BARRINGTON,REPUBLICAN,11/1/2004,1985,1,101,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None
1,1000457136,ACTIVE,WARWICK,DEMOCRAT,12/24/2007,1982,2,3513,None,None,None,None,None,None,None,None
2,1000457143,ACTIVE,BARRINGTON,UNAFFILIATED,9/10/1990,1952,1,104,NaN,NaN,STATEWIDE GENERAL ELECTION,Early In-Person,None,None,None,None
3,1000457256,INACTIVE,PROVIDENCE,DEMOCRAT,10/23/2019,1977,1,2809,None,None,None,None,None,None,None,None
4,1000457353,ACTIVE,BARRINGTON,UNAFFILIATED,8/14/1992,1957,1,104,NaN,NaN,STATEWIDE GENERAL ELECTION,Election Day In Person,None,None,None,None

### Check data quality

In [9]:
merg.describe()

            VOTERID  YEAROFBIRTH  CONGRESSIONALDISTRICT     PRECINCT
count  8.037000e+03  8037.000000            8037.000000  8037.000000
mean   2.183846e+10  1970.941272               1.503919  2192.700883
std    1.125817e+10    18.667582               0.500016  1132.069517
min    1.000457e+09  1917.000000               1.000000   101.000000
25%    1.000050e+10  1957.000000               1.000000  1009.000000
50%    2.600035e+10  1971.000000               2.000000  2603.000000
75%    3.000029e+10  1987.000000               2.000000  3101.000000
max    3.900156e+10  2004.000000               2.000000  3912.000000

In [10]:
cols = ['STATUSCODE','CITY','PARTYCODE','ELECTION1','ELECTION2','ELECTION3','ELECTION4','TYPE1','TYPE2','TYPE3','TYPE4']
for col in cols:
    print(f'{col} column\'s unique value:', merg[col].unique())

STATUSCODE column's unique value: ['ACTIVE' 'INACTIVE' 'PENDING']
CITY column's unique value: ['BARRINGTON' 'WARWICK' 'PROVIDENCE' 'EAST PROVIDENCE' 'HOPKINTON'
 'NEWPORT' 'EXETER' 'BRISTOL' 'WARREN' 'CRANSTON' 'PAWTUCKET' 'LINCOLN'
 'COVENTRY' 'PORTSMOUTH' 'RICHMOND' 'NEW SHOREHAM' 'CUMBERLAND'
 'MIDDLETOWN' 'WEST WARWICK' 'SOUTH KINGSTOWN' 'TIVERTON' 'SMITHFIELD'
 'WOONSOCKET' 'NORTH PROVIDENCE' 'SCITUATE' 'NORTH SMITHFIELD'
 'BURRILLVILLE' 'GLOCESTER' 'JOHNSTON' 'CENTRAL FALLS' 'CHARLESTOWN'
 'EAST GREENWICH' 'WEST GREENWICH' 'JAMESTOWN' 'WESTERLY' 'NARRAGANSETT'
 'NORTH KINGSTOWN' 'FOSTER' 'LITTLE COMPTON']
PARTYCODE column's unique value: ['REPUBLICAN' 'DEMOCRAT' 'UNAFFILIATED']
ELECTION1 column's unique value: [nan None 'SPECIAL STATEWIDE REFERENDA ELECTION']
ELECTION2 column's unique value: ['STATEWIDE GENERAL ELECTION' None nan]
ELECTION3 column's unique value: [None nan 'STATEWIDE PRIMARY']
ELECTION4 column's unique value: [None 'PRESIDENTIAL PRIMARY']
TYPE1 column's unique value: [nan None 'Mail Ballot' 'Early In Person' 'Election Day In Person']
TYPE2 column's unique value: ['Election Day In Person' None 'Early In-Person' 'Mail Ballot' nan]
TYPE3 column's unique value: [None nan 'Election Day In Person' 'Mail Ballot' 'Early In Person']
TYPE4 column's unique value: [None 'Mail Ballot' 'Election Day In Person']

In [11]:
merg.isnull().sum()

VOTERID                     0
STATUSCODE                  0
CITY                        0
PARTYCODE                   0
DATEEFFECTIVE               0
YEAROFBIRTH                 0
CONGRESSIONALDISTRICT       0
PRECINCT                    0
ELECTION1                7203
TYPE1                    7203
ELECTION2                2830
TYPE2                    2830
ELECTION3                7121
TYPE3                    7121
ELECTION4                6763
TYPE4                    6763
dtype: int64

### Add new columns

#### Task 1: as to whether a voter voted in all three elections in 2020, stored in column 'Vote_All_2020'. 

Yes - Voted in all three elections in 2020  
No - Not voted in all three elections in 2020

In [12]:
filt_1 = merg['ELECTION2'].notnull() & merg['ELECTION3'].notnull() & merg['ELECTION4'].notnull()
merg['Vote_All_2020'] = np.where(filt_1,'Yes','No')

#### Task 2: as to whether a voter voted in at least one of the past four elections, stored in column 'Vote_At_Least_Once'. 

Yes - voted in at least one of the past four elections  
No - not voted in any of the past four elections

In [13]:
filt_2 = merg['ELECTION1'].notnull() | merg['ELECTION2'].notnull() | merg['ELECTION3'].notnull() | merg['ELECTION4'].notnull()

In [14]:
merg['Vote_At_Least_Once'] = np.where(filt_2,'Yes','No')

#### Task3 : decade voter registered to vote in Rhode Island, stored in column 'Decade_Registered'.

In [15]:
merg['Decade_Registered'] = merg['DATEEFFECTIVE'].apply(lambda x: str(x).split('/')[2][:3]+'0s')

### Save final table into Excel file

In [16]:
with pd.ExcelWriter('Copy of Data Analyst at RI SOS Interview Assignment_Haixia Liu.xlsx',
                    mode='a') as writer:  
    merg.to_excel(writer, sheet_name='Tasks 1-3 - Merged Datasets',index=False)